<?xml version="1.0" encoding="utf-8"?>

<launch>

  <param name="use_sim_time" value="false"/>

  <node name="record" pkg="record_path" type="record"  output="screen">
      <param name="pkg_name" value="record_path"/><!-- 文件所在的ros包 -->
      <param name="folder_name" value="path_data"/><!-- 文件所在的具体文件夹名字 -->
  </node> 

  <!-- <node pkg="rviz" name="rviz" type="rviz" args="-d $(find record_path)/rviz/rviz.rviz" /> -->

<!-- 键盘控制 -->
  <node name="key_op" pkg="record_path" type="key_op"  output="screen"/>

  

</launch>