<launch>
    
    <!-- gazebo -->
    <include file="$(find car_model)/launch/load_env.launch" />

    <!-- 跟踪 -->
    <node pkg="pp_controller" type="pp_controller"    name="pp_controller"    output="screen"/>
    
    <!-- GPS -->
    <include file="$(find gps)/launch/run_gps.launch">
    </include>

     <!-- keyboard -->
    <!-- <include file="$(find record_path)/launch/wsk1.launch" /> -->
    <!-- </include> -->


    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pp_controller)/rviz/run_0.rviz"/>


</launch>